.slider-container {
  padding: 2rem 0 0 0;
  border-bottom: 1px solid #c6c6c8;
  width: 100%;
}
.slick-arrow {
  display: none !important;
}
.story-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
}
.story-err {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  min-height: 10vh;
}

@media (min-width: 768px) {
  .slider-container {
    margin-bottom: 3rem;
    border: none;
  }
}
